body,html{
   height: 100%;
}

.lebody {
   background-color: ghostwhite !important;

}
/*style page index.html*/
#haut {
   display: none;
   position: fixed;
   bottom: 90px;
   right: 30px;
   z-index: 99;
   border: none;
   outline: none;
   background-color: #ffa600;
   color: white;
   cursor: pointer;
   padding: 15px;
   border-radius: 10px;
   }
.cardmusicidex{
    
	height: 250px !important;
}
.section1{
    margin-bottom: -150px !important;
}
/*style page creatForm.html*/

#bodyCreateForm{
    overflow-x: hidden!important;
}

/*style page modifform.html*/
#footer {
    position: absolute;
    bottom: 0;  
    width: 100%;  
     
 } 
 /*style page liste.html*/
 
 
 #listcard.card-body {
    height:370px ! important;
 }
 .card-footer {
    height: 80px ! important;
 }
 